@import 'variables/colors';
@import 'variables/sizes';

.navbar {
  align-items: center;
  background-color: $white;
  box-shadow: 0 5px 10px $grey;
  display: flex;
  height: $nav-height;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  .logo {
    width: 200px;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  margin: 150px auto 0;
  max-width: $main-container-width;
  width: 100%;
}

.platform {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 50px 0;
  position: relative;

  &::before {
    background: url('./assets/triangle.svg') no-repeat;
    content: '';
    height: $triangle-heigth;
    position: absolute;
    top: -40px;
    left: -50px;
    width: $triangle-width;
    z-index: -1;
  }
}

.title {
  font-size: $font-big;
}

.platform-title {
  @extend .title;
  align-self: flex-start;
}

.tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 50px 0;
  width: 100%;
}

.logo {
  height: $tech-logo-size;
  margin: 10px 0;
  width: $tech-logo-size;
}

.description {
  font-size: 14px;
  line-height: 19px;
  padding: 10px;
}

.tech {
  align-items: center;
  border: 1px solid $green;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 15px;
  max-width: 220px;
  padding: 10px;
  position: relative;
  text-align: center;
  width: 100%;

  .title {
    font-size: $font-medium;
  }

  &::after {
    background-color: $green;
    border-radius: 5px;
    content: '';
    height: 100%;
    left: 10px;
    position: absolute;
    width: 100%;
    z-index: -1;
  }

  &:hover {
    &::after {
      left: 0;
      top: 0;
    }
  }
}

.release {
  font-weight: bold;
  margin: 15px 0;
}

.footer {
  align-items: center;
  background-color: $blue;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: $footer-height;
}

.contact-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
  justify-content: center;
  width: 100%;
}

.label {
  color: $white;
  font-size: $font-big;
  margin: 20px;
}

.input-email {
  border-radius: 8px;
  height: 30px;
  margin-bottom: 20px;
  max-width: 300px;
  padding-left: 12px;
  width: 100%;
}

.send {
  border-radius: 8px;
  border: 1px solid $white;
  color: $white;
  padding: 15px 30px;
}

.copyright {
  background: $grey;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.copyright-text {
  font-size: 12px;
}

.white {
  color: $white;
}

@media screen and (max-width: 800px) {

  .navbar {

    .title {
      display: none;
    }
  }
}
