$nav-height: 90px;
$main-container-width: 1050px;
$footer-height: 30vh;

$triangle-heigth: 90px;
$triangle-width: 100px;

$tech-logo-size: 100px;

$font-big: 24px;
$font-medium: 16px;
$font-small: 12px;
