doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    link(rel='shortcut icon' href='assets/favicon.ico' type='image/x-icon')
    title Maquetado
  body
    #app
      nav.navbar
        img.logo(src='./assets/wolox_logo.svg' alt='wolox')
        h1.title
          | Developer Tools
      .main-container
        form.filter-container(@submit.prevent='filterTechs()')
          input.filter(type='text' placeholder='Filtrar' v-model='filterValue')
          button(type='submit')
        techs(v-for='platform in platforms' :key='platform.platform' :platform='platform')
      .footer
        form.contact-form
          label.label
            | Contact us!
          input.input-email(type='email')
          button.send(type='button')
            | SEND
        .copyright
          p.copyright-text
            | Copyright 2017. WOLOX. All rights reserved.
    script(src='index.js')
